<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFWithWFAndDatabinding.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=NORTHWIND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>